Repository garuda-linux/pkgbuilds-aur: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

Path conditions:
  check-lint: any of: *.md, *.yaml, *.yml, */*.install, */PKGBUILD, .ci/*
  check-pkgbuild: any of: */PKGBUILD
  schedule-package: any of: */PKGBUILD, */.CI_CONFIG
  push-pkgbuild: any of: */.SRCINFO, */PKGBUILD

ci(check-rebuild): only commit if at least one package has been bumped
  .ci/check-rebuild.sh
Due: check-lint

feat(firedragon): add new test subject
  firedragon/.SRCINFO
  firedragon/.gitignore
  firedragon/PKGBUILD
  firedragon/firedragon.desktop
  firedragon/firedragon.install
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

ci: import improvements from pkgbuilds repo [deploy firedragon]
  .ci/check-rebuild.sh
  .ci/fetch-gitsrc.sh
  .ci/lint.sh
  .ci/schedule-package.sh
  .gitlab-ci.yml
Due: check-lint

feat(firedragon): improve PKGBUILD
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

Updated pkgrel
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

chore(firedragon): Updated pkgrel
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

ci: import script improvements from Chaotic-AUR
  .ci/check-rebuild.sh
  .ci/fetch-pkgbuild.sh
  .ci/manage-aur.sh
  .ci/schedule-package.sh
  .gitlab-ci.yml
  README.md
  whoogle/.SRCINFO
Due: check-lint, push-pkgbuild

ci(fetch-gitsrc): determine changes via CI_CONFIG rather than makepkg
  .ci/fetch-gitsrc.sh
  whoogle-git/.CI_CONFIG
Due: check-lint, schedule-package

ci(fetch-gitsrc): switch back to alpine since no more makepkg is used
  .gitlab-ci.yml
  VERSIONS
  dummy/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

chore(SOURCES): add actual git repos
  .ci/fetch-gitsrc.sh
  SOURCES
Due: check-lint

ci(fetch-*): fix minor issues introduced while importing changes
  .ci/fetch-gitsrc.sh
  .ci/fetch-pkgbuild.sh
Due: check-lint

ci(fetch-pkgbuild): improve log output
  .ci/fetch-pkgbuild.sh
Due: check-lint

Revert "chore(firedragon): Updated pkgrel"
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

ci: switch schedule pkg back to chaotic-aur (this is the identifier for this repo) [deploy firedragon]
  .ci/schedule-package.sh
Due: check-lint

chore(firedragon): Updated pkgrel to 8
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

Revert "chore(firedragon): Updated pkgrel to 8"
  firedragon/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

feat(whoogle): manage AUR
  .ci/update-versions.sh
  whoogle-git/.CI_CONFIG
  whoogle/.CI_CONFIG
Due: check-lint, schedule-package

ci(fetch-pkgbuild): implement CI_PKGBUILD_SOURCE instead of SOURCES file
  .ci/fetch-pkgbuild.sh
  .gitlab-ci.yml
  README.md
  SOURCES
  VERSIONS
  firedragon/.CI_CONFIG
  whoogle-git/.CI_CONFIG
  whoogle/.CI_CONFIG
Due: check-lint, schedule-package

ci(fetch-pkgbuild): handle missing CI_PKGBUILD_SOURCE gracefully
  .ci/fetch-pkgbuild.sh
Due: check-lint

chore(firedragon): remove CI_PKGBUILD_SOURCE to not fetch any updates for now
  firedragon/.CI_CONFIG
Due: schedule-package

fix(schedule-package): update with new repo name as changed in infra
  .ci/schedule-package.sh
Due: check-lint

chore(firedragon): this package is now owned by Garuda and therefore managed via the pkgbuilds repo
  firedragon/.SRCINFO
  firedragon/.gitignore
  firedragon/PKGBUILD
  firedragon/firedragon.desktop
  firedragon/firedragon.install
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

ci(fetch-gitsrc): account for .CI_CONFIG cases, fix regex to include more possible URLs
  .ci/fetch-gitsrc.sh
Due: check-lint

chore(git-versions): update current git commits
  sweet-folders-icons-git/.CI_CONFIG
Due: schedule-package

docs(README): update and add information
  README.md
Due: check-lint

docs(README): fix links
  README.md
Due: check-lint

feat: add a few more popular packages
  alpm_octopi_utils/.CI_CONFIG
  alpm_octopi_utils/.SRCINFO
  alpm_octopi_utils/PKGBUILD
  octopi/.CI_CONFIG
  octopi/.SRCINFO
  octopi/PKGBUILD
  spotify/.CI_CONFIG
  spotify/.SRCINFO
  spotify/LICENSE
  spotify/PKGBUILD
  spotify/spotify.protocol
  spotify/spotify.sh
  ventoy-bin/.SRCINFO
  ventoy-bin/.gitignore
  ventoy-bin/PKGBUILD
  ventoy-bin/sanitize.patch
  ventoy-bin/ventoy
  ventoy-bin/ventoy-extend-persistent
  ventoy-bin/ventoy-persistent
  ventoy-bin/ventoy.desktop
  ventoy-bin/ventoy.install
  ventoy-bin/ventoygui
  ventoy-bin/ventoyplugson
  ventoy-bin/ventoyweb
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

ci(fetch-gitsrc): correctly handle multiple git sources
  .ci/fetch-gitsrc.sh
Due: check-lint

fix(gitignore): drop .gitignore files as they only cause issues with our config files
  fish-autopair/.CI_CONFIG
  fish-autopair/.SRCINFO
  fish-autopair/PKGBUILD
  hyprland-git/.CI_CONFIG
  hyprland-git/.gitignore
  plasma5-themes-sweet-full-git/.CI_CONFIG
  plasma5-themes-sweet-full-git/.gitignore
  plasma5-themes-sweet-kde-git/.CI_CONFIG
  plasma5-themes-sweet-kde-git/.gitignore
  ventoy-bin/.CI_CONFIG
  ventoy-bin/.gitignore
  whoogle-git/.gitignore
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

chore(git-versions): update current git commits
  hyprland-git/.CI_CONFIG
Due: schedule-package
