Repository garuda-linux/pkgbuilds-aur: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

Path conditions:
  check-lint: any of: *.md, *.yaml, *.yml, */*.install, */PKGBUILD, .ci/*
  check-pkgbuild: any of: */PKGBUILD
  schedule-package: any of: */PKGBUILD, */.CI_CONFIG
  push-pkgbuild: any of: */.SRCINFO, */PKGBUILD

chore(git-versions): update current git commits
  hyprland-git/.CI_CONFIG
Due: schedule-package

chore(packages): update packages [skip ci]
  alpm_octopi_utils/.CI/config
  btrfs-assistant/.CI/config
  btrfs-assistant/PKGBUILD
  firedragon-extension-plasma-integration/.CI/config
  firedragon-extension-plasma-integration/PKGBUILD
  fish-autopair/.CI/config
  hyprland-git/.CI/config
  hyprland-git/PKGBUILD
  octopi/.CI/config
  octopi/PKGBUILD
  os-prober-btrfs/.CI/config
  os-prober-btrfs/PKGBUILD
  paru/.CI/config
  paru/PKGBUILD
  plasma5-applets-window-appmenu/.CI/config
  plasma5-applets-window-appmenu/PKGBUILD
  plasma5-applets-window-title/.CI/config
  plasma5-applets-window-title/PKGBUILD
  plasma5-themes-sweet-full-git/.CI/config
  plasma5-themes-sweet-full-git/PKGBUILD
  plasma5-themes-sweet-kde-git/.CI/config
  plasma5-themes-sweet-kde-git/PKGBUILD
  plasma5-wallpapers-blurredwallpaper/.CI/config
  plasma5-wallpapers-blurredwallpaper/PKGBUILD
  preload/.CI/config
  preload/PKGBUILD
  rate-mirrors/.CI/config
  rate-mirrors/PKGBUILD
  spotify/.CI/config
  spotify/PKGBUILD
  sweet-folders-icons-git/.CI/config
  sweet-folders-icons-git/PKGBUILD
  systemd-oomd-defaults/.CI/config
  systemd-oomd-defaults/PKGBUILD
  ventoy-bin/.CI/config
  ventoy-bin/PKGBUILD
  whoogle-git/.CI/config
  whoogle/.CI/config
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

fix(ci): Enable human review
  .gitlab-ci.yml
Due: check-lint

chore(packages): update packages [skip ci]
  hyprland-git/.CI/config
Due: none

chore(packages): update packages [skip ci]
  plasma5-themes-sweet-full-git/.CI/config
Due: none

chore(packages): update packages [skip ci]
  whoogle-git/.CI/config
Due: none

ci: import enhancements from chaotic-poc
  .ci/create-pr.sh
  .ci/on-commit.sh
  .ci/on-schedule.sh
  .ci/schedule-packages.sh
Due: check-lint

chore(hyprland-git): PKGBUILD modified [deploy hyprland-git]
  hyprland-git/.CI/config
  hyprland-git/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild

chore(packages): update packages [skip ci]
  btrfs-assistant/.CI/config
  btrfs-assistant/.SRCINFO
  btrfs-assistant/PKGBUILD
Due: check-lint, check-pkgbuild, schedule-package, push-pkgbuild
